#Этот код перенаправит обработку всех страниц на index.php, что нам и нужно.

#===========================================================================================================
#Директива RewriteEngine включает или выключает работу механизма преобразований.
#Если она установлена в положение off этот модуль не работает.
#Используйте эту директиву для выключения этого модуля вместо простого комментирования директив RewriteRule!

RewriteEngine On

#===========================================================================================================
#Директива RewriteCond определяет условия для какого-либо правила.
#Перед директивой RewriteRule располагаются одна или несколько директив RewriteCond.
#Следующее за ними правило преобразования используется только тогда,
#когда URI соответствует условиям этой директивы и также условиям этих дополительных директив.
#Переменные сервера: Это переменные вида %{NAME_OF_VARIABLE}
#
#Переменная REQUEST_FILENAME - полный путь в файловой системе сервера к файлу или скрипту соответствующим этому запросу.
#т.е., значение поля filename (char *filename; Имя файла на диске запрошенного ресурса.) внутренней структуры request_rec сервера Apache.

 # '-f' (является ли обычным файлом)
 # СравниваемаяСтрока считается путем, проверяется существование этого пути и то что этот путь является обычным файлом.
RewriteCond %{REQUEST_FILENAME} !-f

# '-d' (является ли каталогом)
# СравниваемаяСтрока считается путем, проверяется существование этого пути и то что этот путь является каталогом.
RewriteCond %{REQUEST_FILENAME} !-d

#ErrorDocument 404 http://localhost/vsltanks/client/error.php
#===========================================================================================================
#Директива RewriteRule есть основная директива преобразований.
#Эта директива может встречаться более одного раза. Каждая директива, в этом случае, определяет одно правило преобразования.
#Порядок определений этих правил важен, потому что этот порядок используется при обработке правил во время работы.

RewriteRule (.*) index.php [L]  #Ключ L говорит о том, что это правило было последним, больше не применять правил преобразований

